<section>
  <div class=" container row">
    <div class="ml-5 col-md-6">
      <h2 class="text-center mt-5">Add catogories</h2>
      <form action="/admin/add-catogory" method="post" enctype="" id="addProduct" class="text-danger">
        <label class="text-dark" for="">Name</label>
        <input type="text" name="name" class="form-control " oninput="this.value= this.value.toLocaleUpperCase()" required><br>
        {{#if data}}
        <p class="text-danger">{{data.err}}</p>
        {{/if}}
        <button type="submit" class="btn btn-success mt-4">Submit</button>

      </form>
    </div>
  </div>
</section>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script>
  $("#addProduct").validate();
</script>